<!DOCTYPE html>
<html lang="en">
<head>
<title>content of a post</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">




<link rel="stylesheet" type="text/css" href="./stylesheets/nav.css" />  
<style>

.user_detail {
    float: left;
    
    width: 600px;
    height: 300px;
   
}

.post_detail{
    margin-left: 680px;
    width: 1100px;
    height: 300px;
}



button {

  
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
  width: 30%;
  background-color: #566573;
  padding: 14px 20px;
  margin: 8px 380px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
    font-size: 20px;
    letter-spacing: 1px;
}


label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    padding: 10px;
    width: 80%;
    min-height: 150px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #566573; }


div.form {
  width:50%;

  color: #555;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

a {
  float: left;
  display: block;
  color: #555;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

p {
    font-size: 15px;
    letter-spacing: 1px;
}
  </style>
</head>
<body>

<div class="header">
  <h1>Campus Epidemic Prevention and Control System</h1>
</div>


<!--nagivation 4285F4-->
<div class="navbar">
  <a href="index.html">Home</a>
  <a href="http://127.0.0.1:3000/myinfos_prof">Account</a>
  <a href="http://127.0.0.1:3000/post_list_prof" class="active">Posts</a>
  <a href="about.html" class="right">About</a> 
</div>

  <div class="main">

    <a href="http://127.0.0.1:3000/post_list_prof"><--</a><br/>

      
   
      <!-- user_detail:-->
      <% for(var i=0;i<data_user.length;i++){ %>
        <div class="user_detail">
            <h3 style="color: #555" >Student Information</h3>
            <div class="form">
            <!--%= data_user[i].photo %-->
            <img src="/media/cc0-images/grapefruit-slice-332-332.jpg"><br/>


            <label for="lastname">Last name:</label>
            <p name="lastname"><%= data_user[i].lastname %></p> <br/>
    
            <label for="firstname">First name:</label>
            <p name="firstname"><%= data_user[i].firstname %></p> <br/>
    
    
            <label for="birthday">Birthday:</label>
            <p name="birthday"><%= data_user[i].birthday %></p> <br/>
    
            <label for="email">E-mail:</label>
            <p name="email"><%= data_user[i].email %></p> <br/>
    
            <label for="formation">Formation:</label>
            <p name="formation"><%= data_user[i].formation %></p> <br/>
            <br/>
           
            </div>
<% } %>
    
</div>
  
    


<!--Post_detail-->
        <% for(var i=0;i<data.length;i++){ %>

        <div class="post_detail">
        <h3 style="color: #555" >Post Details</h3>
 
            <div class="form">
                <form class="form-card" action="http://127.0.0.1:3000/update_post_prof_process" method="POST">
                  
                <input type="hidden" name="id_post" value=<%= data[i].id_post %>>
              
               
                <label for="title">Title:</label>
                <p name="title"><%= data[i].title %></p><br/>
        
                <label for="description">Description:</label>
                <textarea class="form-control"style="resize:none; overflow:scroll;" name="description" readonly="readonly">
                    <%= data[i].description %> 
                    I
                    have
                    too
                    many
                    thing
                    to say
                </textarea>
                <br/>
        
                <label for="creationTime">Creation time:</label>
                <p name="creationTime"W><%= data[i].create_time %></p><br/>
        
                <label for="status">Status:</label>
                <input type="hidden" name="status" value=<%= data[i].status %>>
                

                <%if (data[i].status == "Invalid"){ %>
                    <p name="status" style="color:red"><%= data[i].status %></p> <br/>
                    <button type="submit" >Valid it</button>
                    <% }else{ %>
                    <p name="status" style="color:green"><%= data[i].status%></p> <br/>
                    <button type="submit" >Invalid it</button>
                    <%}%>
         
            </form>
        </div>
        
           

   

        <% } %>

       
      </div>
   
  
</div>


<div class="footer">
  <h2>Footer</h2>
</div>


</body>
</html>