<!DOCTYPE html>
<html lang="en">
<head>
<title>Account</title>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
 
  
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
  <link rel="stylesheet" type="text/css" href="css/myinfos.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/nav.css" />

  <style>

    .navbarInfo {
      overflow: hidden;
      background-color: #555;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
    }
      /* Style the navigation bar links */
    .navbarInfo a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    }
    
    
    /* Right-aligned link */
    .navbarInfo a.right {
      float: right;
    }
    
    /* Change color on hover */
    .navbarInfo a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Active/current link */
    .navbarInfo a.active {
      background-color:#666;
      color: white;
    }
    </style>

<div class="header">
  <h1>Campus Epidemic Prevention and Control System</h1>
</div>
<!--nagivation-->
<div class="navbarInfo">
  <a href="index.html">Home</a>
  <a href="http://127.0.0.1:3000/myinfos_stu" class="active">Account</a>
  <a href="http://127.0.0.1:3000/post_list_stu">Posts</a>
  <a href="about.html"  class="right">About</a> 
</div>

</head>



<body>

<!--Account-->
<body>
	<section class="py-5 my-5">
		<div class="container">
			<h1 class="mb-5" style="color: #566573;">About Me</h1>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<div class="img-circle text-center mb-3">
							<img src="../public/images/user2.jpg" alt="Image" class="shadow">
						</div>
            <% for(var i=0;i<data.length;i++){ %>
						<h4 class="text-center" style="color: #555;"><%= data[i].firstname %></h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"  >
						<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true" >
							<i class="fa fa-home text-center mr-1" style="color: #566573"></i> 
							Account
						</a>
						<a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
							<i class="fa fa-key text-center mr-1" style="color: #566573"></i> 
							Password
						</a>
						<a class="nav-link" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">
							<i class="fa fa-tv text-center mr-1" style="color: #566573"></i> 
							Application
						</a>
						<a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
							<i class="fa fa-bell text-center mr-1" style="color: #566573"></i> 
							Notification
						</a>
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						
                    <form action="http://127.0.0.1:3000/update_user_stu" method="POST">
						<h3 class="mb-4" style="color: #555;">Account Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">									
								  	<label>First Name</label>
								  	<input name="first_name" type="text" class="form-control" value=<%= data[i].firstname %>>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Last Name</label>
								  	<input name="last_name" type="text" class="form-control" value=<%= data[i].password %>>
								</div>
							</div>
              <div class="col-md-6">
								<div class="form-group">
								  	<label>Birthday</label>
								  	<input name="birthday"type="text" class="form-control" value=<%= data[i].birthday %>>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Email</label>
								  	<input name="email" type="text" class="form-control" value=<%= data[i].email %>>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Formation</label>
								  	<input name="formation" type="text" class="form-control" value=<%= data[i].formation %>>
								</div>
							</div>
  
						</div>
						<div>
							<button type = "submit" class="btn btn-primary">Update</button>
						</div>
			        </form>
					</div>
					<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">

					<form action="http://127.0.0.1:3000/update_pwd_stu" method="POST">
						<h3 class="mb-4" style="color: #555;">Password Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label style="font-size: 16px;">Old password</label>
								  	<input name="pwdOld" type="text" class="form-control" value=<%= data[i].password %>>
									  <% } %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label style="font-size: 16px;">New password</label>
								  	<input name="pwdNew1"  type="password" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label style="font-size: 16px;">Confirm new password</label>
								  	<input name="pwdNew2"type="password" class="form-control">
								</div>
							</div>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</form>
					</div>
				
					<div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
						<h3 class="mb-4" style="color: #555;">Application Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" style="color: #555; font-size: 15px;">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="app-check">
										<label class="form-check-label" for="app-check">
										App check
										</label>
									</div>
									<div class="form-check"style="color: #555; font-size: 15px;">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
										<label class="form-check-label" for="defaultCheck2">
										Lorem ipsum dolor sit.
										</label>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
						<h3 class="mb-4" style="color: #555;">Notification Settings</h3>
						<div class="form-group" style="color: #555; font-size: 15px;">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification1">
								<label class="form-check-label" for="notification1">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium accusamus, neque cupiditate quis
								</label>
							</div>
						</div>
						<div class="form-group" style="color: #555; font-size: 15px;">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification2" >
								<label class="form-check-label" for="notification2">
									hic nesciunt repellat perferendis voluptatum totam porro eligendi.
								</label>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>