<!DOCTYPE html>
<html lang="en">
<head>
<title>List of posts</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="./stylesheets/nav.css" />  
<style>
  #list_post {
    border-collapse: collapse;
    width: 100%;
    align-self: center;
  }
  
  #list_post td, #list_post_stu th {
  
    padding: 8px;
    color: #555;
    font-size: 15px;
  }
  

  
  #list_post tr:hover {background-color: #ddd;}
  
  #list_post th {

    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #ddd;;
    color: white;
  }
  p{
    color:#555;
    text-align: center;
  }

  button {
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
  background-color: #566573;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
  </style>
</head>
<body>

<div class="header">
  <h1>Campus Epidemic Prevention and Control System</h1>
</div>


<!--nagivation-->
<div class="navbar">
  <a href="index.html">Home</a>
  <a href="http://127.0.0.1:3000/myinfos_prof">Account</a>
  <a href="http://127.0.0.1:3000/post_list_prof" class="active">Posts</a>
  <a href="about.html" class="right">About</a> 
</div>

  <div class="main">
   
    <p>List of posts</p>
    <table id="list_post">
      <tr>
        <th>Id</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>E-mail</th>
        <th>Birthday</th>
        <th>Formation</th>
        
        <th>Title</th>
        <th>Description</th>
        <th>Creation Time</th>
        <th>Status</th>
      
        <th></th>
      </tr>
      <% for(var i=0;i<data.length;i++){ %>
    
        <tr>
            <td><%= data[i].id_user %></td>
            <td><%= data[i].lastname %></td>
            <td><%= data[i].firstname %></td>
            <td><%= data[i].email %></td>
            <td><%= data[i].birthday %></td>
            <td><%= data[i].formation %></td>
            <!--td><%= data[i].id_post %></td-->
            <td><%= data[i].title %></td>
            <td><%= data[i].description %></td>
            <td><%= data[i].create_time %></td>
           
            <%if (data[i].status == "Invalid"){ %>
            <td style="color:red"><%= data[i].status%></td>
            <% }else{ %>
            <td style="color:green"><%= data[i].status%></td>
            <%}%>

            <td>
                <form id="myForm" action="http://127.0.0.1:3000/contenu_post_toValid" method="GET"><!--contenu_post_toValid-->
                <input name ="id_post" type="hidden" value=<%= data[i].id_post %>>
                <input name ="id_user" type="hidden" value=<%= data[i].id_user %>>
                <button  type="submit" >Detail</button>
              </form>
            </td>
      
           
    
      </tr>
      
      <% } %>
    </table>
<br><br>
</div>





<div class="footer">
  <h2>Footer</h2>
</div>


</body>
</html>