<!DOCTYPE html>
<html lang="en">
<head>
<title>My posts</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="icon" type="image.png" href="./images/icone.png">
<link rel="stylesheet" type="text/css" href="./stylesheets/nav.css" />  
<style>
  #list_post_stu {
    border-collapse: collapse;
    width: 100%;
    align-self: center;
  }
  
  #list_post_stu td, #list_post_stu th {
  
    padding: 8px;
    color: #555;
    font-size: 15px;
  }
  

  
  #list_post_stu tr:hover {background-color: #ddd;}
  
  #list_post_stu th {

    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ddd;;
    color: white;
  }
  p{
    color:#555;
    text-align: center;
  }

  button {
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
  background-color: #566573;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
  </style>
</head>
<body>

<div class="header">
  <h1>Campus Epidemic Prevention and Control System</h1>
</div>


<!--nagivation-->
<div class="navbar">
  <a href="index.html">Home</a>
  <a href="http://127.0.0.1:3000/myinfos_stu">Account</a>
  <a href="http://127.0.0.1:3000/post_list_stu" class="active">Posts</a>
  <a href="about.html" class="right">About</a> 
</div>

  <div class="main">
   
    <p>List of posts</p>
    <table id="list_post_stu">
      <tr>
        <th>Id Post</th>
        <th>Title</th>
        <th>Description</th>
        <th>Creation Time</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
      <% for(var i=0;i<data.length;i++){ %>
    
        <tr>
            <td><%= data[i].id_post %></td>
            <td><%= data[i].title %></td>
            <td><%= data[i].description %></td>
            <td><%= data[i].create_time %></td>
            <%if (data[i].status == "Invalid"){ %>
            <td style="color:red"><%= data[i].status%></td>
            <% }else{ %>
            <td style="color:green"><%= data[i].status%></td>
            <%}%>
      
            <td>
              <form id="myForm" action="http://127.0.0.1:3000/contenu_post_etu" method="GET">
              <input name ="id_post" type="hidden" value=<%= data[i].id_post %>>
              <button  type="submit" >Update</button>
            </form>
          </td>
          
          <td>
            <form id="myForm" action="http://127.0.0.1:3000/delete_post">
            <input name ="id_post" type="hidden" value=<%= data[i].id_post %>>
            <button  type="submit" >Delete</button>
          </form>
        </td>
    
      </tr>
      
      <% } %>
    </table>
<br><br>
    <button onclick="myFunction()" style="height: 25px;">Declare a post</button>
</div>





<div class="footer">
  <h2>Footer</h2>
</div>

<script language ="javascript">

  function subToHx(){
    document.getElementById("myForm").submit();
  }
  function myFunction() {
		window.location.href='http://127.0.0.1:3000/add_post_etu.html';
	}


</script>

</body>
</html>